body{
    color: white;    
    margin: 0px;
    padding: 0px;
    background-image: url('../img/bg.jpg');
    font-family: 'Baloo Bhai 2', cursive;
}

.left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    top: 20px;
    left: 60px;
}
.left img{
    width: 136px;
    filter: invert(100%);
    margin-left: 5px;
}
.left div{
    text-align: center;
    padding-top: 3px;
    font-size: 25px;
}

.mid{
    display: block;
    width: 38%;
    margin: 6px auto;
    /* border: 2px solid green; */
}

.right{
    display: inline-block;
    /* border: 2px solid yellow; */
    position: absolute;
    top: 44px;
    right: 34px;
}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 18px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 25px;
}

.navbar li a:hover, .navbar li a.active {
    text-decoration: underline;
    color: grey;
}
.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn:hover{
    background-color: rgb(31,30,30);
}
.container{
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}
.form-group input{
    font-family:  'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 450px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1{
    text-align: center;
}

.container button{
    display: block;
    width: 82%;
    margin: 20px auto;
    font-size: 20px;
}