body{
    color: white;    
    margin: 0px;
    padding: 0px;
    background-image: url('/img/bg.jpg');
}

.left{
    display: inline-block;
    border: 2px solid red;
    position: absolute;
    top: 20px;
    left: 34px;
}
.left img{
    width: 136px;
    filter: invert(100%);
    margin-left: 5px;
}
.left div{
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

.mid{
    display: block;
    width: 33%;
    margin: 20px auto;
    border: 2px solid green;
}

.right{
    display: inline-block;
    border: 2px solid yellow;
    position: absolute;
    top: 20px;
    right: 34px;
}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 18px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover, .navbar li a.active {
    text-decoration: underline;
    color: grey;
}